 * { 
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif; 
}

body { 
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
    background-color: hsl(225, 100%, 94%);
}

.content {
    width: 400px;
    height: 600px;
    background-color: hsl(225, 100%, 98%);
    display: grid;
    place-items: center;
    border-radius: 20px;
    margin-top: 110px;
}

.content img {
    margin-top: -29px;
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
    max-width: 100%;
}

.content .texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.content h2 {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

.content .main-p {
    color: gray;
    margin: 11px 0 26px 0;
    padding: 0 46px;
    line-height: 26px;
}

.box {
    width: 360px;
    height: 90px;
    padding: 20px;
    background-color: hsl(226, 68%, 96%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

.price { 
    margin-left: -90px;
}

.box img {
    margin-top: 1px;
}

.box a {
    font-weight: 700;
    color: hsl(245, 75%, 52%);
}

.box a:hover {
    color: hsl(224, 23%, 55%) ;
}

.price .first {
    color: hsl(223, 47%, 23%);
    font-weight: 700;
}

.price .second {
    color: rgb(116, 113, 113);
}

.button {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#btn1 {
    width: 330px;
    height: 45px;
    font-weight: 700;
    background-color: hsl(245, 75%, 52%);
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    color: hsl(225, 100%, 98%);
    cursor: pointer;
}

#btn1:hover {
    background-color: hsl(224, 23%, 55%);
}

#btn2 {
    width: 330px;
    height: 45px;
    font-weight: 700;
    border-radius: 10px;
    font-size: 15px;
    color: hsl(224, 23%, 55%);
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

#btn2:hover {
    color: hsl(223, 47%, 23%) ; 
}

.attribution { 
    font-size: 11px; 
    text-align: center;
}
    
.attribution a {
     color: hsl(228, 45%, 44%);
}  

@media screen and (max-width: 465px) {
    .content {
        width: 365px;    
    }
}  