 * { 
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Red Hat Display', sans-serif; 
}

body { 
    display: grid;
    place-items: center;
    min-height: max-content;
    background-color: hsl(225, 100%, 94%);
}

.content {
    width: 450px;
    height: 600px;
    max-width: 450px;
    background-color: hsl(225, 100%, 98%);
    display: grid;
    place-items: center;
    border-radius: 20px;
    margin-top: 70px;
    max-width: 100%;
}

.content img {
    margin-top: -29px;
    border-top-left-radius: 20px;
    border-top-right-radius:20px;
   
}

.content .texts {
    text-align: center;
}

.content h1 {
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    margin-top: -40px;
}

.content .main-p {
    color: gray;
    margin-top: 11px;
    margin-bottom: 26px;
}
.box {
    width: 400px;
    height: 76px;
    padding: 20px;
    background-color: hsl(226, 68%, 96%);
    margin-left: 25px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}

.price { 
    display: flex;
    align-items: center;
    margin-left: -140px;
    flex-direction: column;
}

.box img {
    width: 50px;
    border-radius: 50%;
    margin-top: 1px;
    display: flex;
    align-items: center;  
}

.box a {
    font-weight: 700;
    color: hsl(245, 75%, 52%);
}

.box a:hover {
    color: hsl(224, 23%, 55%) ;
}

.price .first {
    color: hsl(223, 47%, 23%);
    font-weight: 700;
}

.price .second {
    color: rgb(116, 113, 113);
}

.button {
    display: flex;
    flex-direction: column;
}

#btn1 {
    width: 330px;
    height: 45px;
    font-weight: 700;
    background-color: hsl(245, 75%, 52%);
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    -webkit-text-fill-color: hsl(225, 100%, 98%);
}

#btn1:hover {
    background-color: hsl(224, 23%, 55%);
}

#btn2 {
    width: 330px;
    height: 45px;
    font-weight: 700;
    border-radius: 10px;
    font-size: 15px;
    -webkit-text-fill-color: hsl(224, 23%, 55%);
    background-color: transparent;
    border: 0;
}

#btn2:hover {
    -webkit-text-fill-color: hsl(223, 47%, 23%) ; 
}

.attribution { 
    font-size: 11px; 
    text-align: center;
}
    
.attribution a {
     color: hsl(228, 45%, 44%);
}